<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-zjh-common"
        version="2.0.1">

    <name>ZjhCommon</name>
    <description>Zhijianhuo Common Plugin</description>
    <keywords>cordova,zjh,zhijianhuo,common</keywords>

    <preference name="PLUGIN_NAME" default="ZjhPlugin" />

    <!-- android -->
    <platform name="android">
        <preference name="IMAGE_DIR_NAME" value=" " />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="$PLUGIN_NAME">
                <param name="android-package" value="com.zhijianhuo.cordova.plugin.ZjhPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/com/zhijianhuo/cordova/core/demain/SimpleResult.java" target-dir="src/com/zhijianhuo/cordova/core/demain" />
        <source-file src="src/android/com/zhijianhuo/cordova/core/plugin/BasePlugin.java" target-dir="src/com/zhijianhuo/cordova/core/plugin" />
        <source-file src="src/android/com/zhijianhuo/cordova/core/util/HttpUtils.java" target-dir="src/com/zhijianhuo/cordova/core/util" />
        <source-file src="src/android/com/zhijianhuo/cordova/core/util/IOUtils.java" target-dir="src/com/zhijianhuo/cordova/core/util" />

        <source-file src="src/android/com/zhijianhuo/cordova/plugin/support/GetTaoBaoIdPlugin.java" target-dir="src/com/zhijianhuo/cordova/plugin/support" />
        <source-file src="src/android/com/zhijianhuo/cordova/plugin/support/SaveImagesPlugin.java" target-dir="src/com/zhijianhuo/cordova/plugin/support" />
        <source-file src="src/android/com/zhijianhuo/cordova/plugin/ZjhPlugin.java" target-dir="src/com/zhijianhuo/cordova/plugin" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="$PLUGIN_NAME">
                <param name="ios-package" value="ZjhPlugin"/>
            </feature>
        </config-file>

        <preference name="$PHOTOLIBRARY_ADD_USAGE_DESCRIPTION" default=" " />
        <config-file target="*-Info.plist" parent="NSPhotoLibraryAddUsageDescription">
            <string>$PHOTOLIBRARY_ADD_USAGE_DESCRIPTION</string>
        </config-file>

        <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
            <array>
                <string>weixin</string>
                <string>wechat</string>
                <string>taobao</string>
                <string>openApp.jdMobile</string>
                <string>tmall</string>
                <string>mogujie</string>
                <string>meilishuo</string>
            </array>
        </config-file>

        <header-file src="src/ios/ZjhPlugin.h" />
        <source-file src="src/ios/ZjhPlugin.m" />
    </platform>

</plugin>
